<h2>Hello</h2>
<h2>
    {{ userName }}
</h2>
<p>You have been invited to this meeting:</p>
<h2>
    {{ title }}
</h2>
<p>Schedule:</p>
{{ scheduleStrind }}

<p>If you did not request this email you can safely ignore it.</p>